
.main {
  width: 960px;
  margin: 0 auto;
  padding: 70px 0;
}

.title {
  margin-bottom: 20px;
}

.publishedAt {
  margin-bottom: 10px;
}

.post {
  margin-top: 50px;

  & > h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 40px 0 20px;
    background-color: #eee;
    padding: 10px 20px;
    border-radius: 5px;
  }

  & > h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 40px 0 20px;
    border-bottom: 1px solid #ddd;
  }

  & > p {
    line-height: 1.8;
    letter-spacing: 0.2px;
  }

  & > ul {
      list-style-position: inside;
      margin-top: 1em;
    }
  & > ol {
    list-style-type: decimal;
    list-style-position: inside;
     margin-top: 1em;
  }

  & > figure {
    margin-bottom: 20px;
  }

  & > pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    margin: 1em 0;
    
    & > code {
      display: block;
      overflow-x: auto;
      padding: 0.5em;
      background: #1d1f21;
      padding: 10px 20px;
      border-radius: 5px;
      color: #fff;
    }
  }
}